*.log

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment or virtualenv folders
.venv/
.virtual_env/
.ssh/
.nv/
.local/
.keras/
.conda/
.conda_env/
.conda_envs/
.esmtp_queue/
.dotnet/
.config/
.cache/
.zfs/


# Ignore dataset and results
dataset/
Results/
saliency_maps/
checkpoints/
trials/

# Ignore system files
.DS_Store
.vscode/

